<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%=classroom.className%></h1>
    <ul>
        <% classroom.students.forEach((student) => {%>
            <li>
                <a href="/blackboard/classrooms/<%= classroom._id %>/<%= student._id %>"><!--LEAD TO SHOW PAGE FOR SPECIFIC STUDENT-->
                    <%=student.name%>
                </a>
            </li>
            <% }); %>
    </ul>
    <div id="classroom-actions"> 
    <a href="/blackboard/classrooms/<%= classroom._id %>/edit">Edit Class Info
    </a>
    <a href="/blackboard/classrooms/<%= classroom._id %>/newstudent">Add A New Student</a>
    <form action="/blackboard/classrooms/<%=classroom._id %>?_method=Delete" method="POST">
        <button id="delete-button" type="submit">Delete This Classroom</button>
    </form>
    </div>
</body>
</html>